# Whisper 與模型相關
git+https://github.com/openai/whisper.git
torch>=2.5.0,<2.8.0

transformers>=4.19.0
numpy>=1.24.0
tqdm>=4.65.0
more-itertools
setuptools-rust

# Streamlit 應用
streamlit>=1.32
nest-asyncio>=1.5.6
altair==4.2.2

# 若有整合 Flask 作為 API server
flask>=2.0.0
werkzeug>=2.0.0